#image-rotator {
     margin: 0 auto;
     overflow: hidden;
     width: 990px;
}
#project {
     position: relative;
	 width:640px;
}
#project img {
     display: block;
}
#project:after {
     box-shadow: 0px 0px 12px #444444 inset;
	 -moz-box-shadow: 0px 0px 12px #444444 inset;
	 -webkit-box-shadow: 0px 0px 12px #444444 inset;
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 500;
}
#proj-info {
     background: none repeat scroll 0 0 #7E7E7E;
     float: left;
     height: 409px;
     position: relative;
     width: 260px;
}
#proj-title {
     padding: 25px 18px;
}
#proj-title h2 {
     color: white;
     font-family: Knockout28;
     font-size: 45px;
     font-weight: lighter;
}
#proj-description {
     padding: 18px;
}
#proj-description p {
     color: white;
     font-family: MisoBold;
     font-size: 15px;
}

#proj-description a{
     color: white;
}
#proj-tags {
     bottom: 0;
     padding: 18px 18px 10px;
     position: absolute;
}
#proj-tags span {
     font-family: Knockout29;
     font-size: 16px;
     margin: 0 15px 0 0;
}
#proj-tags span a {
     color: #AAAAAA;

}
#personal-info {
     margin: 59px 0;
     overflow: hidden;
}
.home-col {
     margin: 0 0 0 65px;
     width: 250px;
}
.home-col h2 {
    font-size: 38px;
    margin-bottom: 10px;
}

/******************* Anything Slider ********************/
#image-rotator span.back,
#image-rotator span.forward{
	text-indent:-9999em;
	float:left;
	display: block;
    height: 55px;
    width: 30px;
    z-index: 1000;
	position:relative;
	top:175px;
	cursor:pointer;
}
#image-rotator span.back{
	background: url("../images/left-arrow.png") no-repeat scroll 0 0 transparent;
	margin-right:10px;
}
#image-rotator span.forward{
	background: url("../images/right-arrow.png") no-repeat scroll 0 0 transparent;
	margin-left:10px;
}
#prevBtn, #nextBtn {
     display: block;
     height: 55px;
     width: 30px;
     z-index: 1000;
	 margin: 187px 15px 0 0;
}
#nextBtn {
     left: 917px;
	 margin: 187px 0 0 15px;
}
#prevBtn a, #nextBtn a {
     background: url("../images/left-arrow.png") no-repeat scroll 0 0 transparent;
     display: block;
     height: 55px;
     position: relative;
     width: 30px;
	 text-indent:-9999em;
}
#nextBtn a {
     background: url("../images/right-arrow.png") no-repeat scroll 0 0 transparent;
}