
#nav ul {
     overflow: hidden;
}
#nav ul li {
     display: block;
     float: left;
     height: 27px;
     overflow: hidden;
	 margin:0 10px 0 0;
     padding: 7px 0pt 0pt;
     text-align: center;
     width: 82px;
}
#nav ul li a {
     color: #7E7E7E;
     display: block;
     font-family: Knockout29;
     font-size: 20px;
     font-weight: lighter;
     position: relative;
     text-decoration: none;
     text-transform: uppercase;
}
#nav ul li:hover a {
     border-bottom: 3px solid #E77A5B;
}
#menu-main li.current_page_item a, #menu-main li.current-menu-item a {
     border-bottom: 3px solid #E77A5B;
}