/* portfolio list page */
.portfolio-item {
	margin:10px;
}

/* caption styling */
.caption-top, .caption-bottom {
	color: #ffffff;	
	padding: 5px 15px;
	font-size: 18px;	
	font-family: Knockout29, Arial, Helvetica, san-serif;	
	cursor: default;
	border: 0px solid #555;
	background: #555;
	text-shadow: 1px 1px 0 #333;
}
.caption-top {
   border-width: 0px 0px 0px 0px;
}
.caption-bottom {
   border-width: 0px 0px 0px 0px;
}
.caption a, .caption a {
	border: 0 none;
	text-decoration: none;
	background: #000000;
	padding: 0.3em;
	z-index:9999;
}
.caption a:hover, .caption a:hover {
	background: #555555;
	z-index:9999;
}
.caption-wrapper {
	float: left;
}
br.c { clear: both; }