/*css*/
body {
	background: transparent url('media/bg.png') 0 0 scroll repeat-x;
	color: black;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, san-serif;
}
p, h1, h2, h3, h4,h5,h6{
	margin:0;
	padding:0;
}
hr{
	border: 0 none;
	color: #aaa;
	background-color: #aaa;
	height:1px;
}
a:link, a:visited, a:hover, a:active {
	text-decoration:none;
	color:white;
}
#nav li:hover{
	background: transparent url('media/nav_hover_home.png') center scroll no-repeat;
}
.current{
	background: transparent url('media/nav_hover_home.png') center scroll no-repeat;
}
#header {
	padding-top: 30px;
	height: 60px;
	color: white;
	font-size: 40pt;
}
#nav {
	position: relative;
	top: 0px;
	left: 0px;
	height: 55px;
	margin: 0;	
	font-size: 15pt;
	font-weight: bold;
	padding-top:30px;	
}
#nav ul{
	padding:0;
	margin:0;
}
#nav li{
	display:inline;
	padding:20px 36px;
}
#footer{
	height: 50px;
	color: #aaa;
	clear: both;
	margin-top:25px;
	padding:25px;
	font-size:8pt;
	text-align:center;
}
#footer a{
	color: #aaa;
}
#container-bg-div{
	background: transparent url('media/white_sketch.png') 0 70px scroll no-repeat;	
}
#container{
	width: 940px;
	margin: 0 55px;
	padding: 0;
	overflow:hidden;
}
#content{
	margin:0px;
	width:610px;
	float:left;
}
#section{	
	padding-top:50px;
}
#section a{
	color:#8fbddf;
	text-decoration:none;
}

#bio{
	padding: 0px;
	font-size:10pt;
	margin:10px 0 25px 0;
	color: #7F7F7F;
	line-height:1.4em;
}
#bio h3{
	color:#8fbddf;
}
#blog{	
}
#side-bar{
	float: left;
	width:280px;
	margin: 15px 0 0 40px;
}
.section-header{
	color:#5684a6;
	font-size:25pt;
	float:left;
}
.blog-title, .sub-header{
	color:#8fbddf;
	font-size: 16pt;
} 
#section  a:hover{
	color:#5684a6;
}
.blog-timestamp{
	color: #aaa;
	font-size: 8pt;
}
.blog-content{
	color: #555;
	font-size: 10pt;
	line-height:1.75em;
	padding: 5px;
}
.more-links{
	font-size:10pt;
	color: #555;
	padding: 35px 0 0;
	line-height: 1.5em;
	text-align: center;
}
.show-num{
	color:#777;
	float: right;
	font-size: 9pt;
	padding: 17px 35px 0 0;
}
.section-header-div{
	overflow:hidden;
}

.service-articles-titles{
	color:#5684a6;
	font-size: 13pt;
}
.service-div{
	padding:0 20px;
	overflow:hidden;
}
#user-div{
	overflow:hidden;
	background-color:#bdd6ea;
	color:#555;
	padding: 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#user-img{
	float:left; 
	margin:0 10px 0 0;
}
#recent-videos{
	margin:15px 0;
}
#recent-label{
	padding:5px; 
	margin-bottom:10px;
	color:#ffffff;
	background-color:#5b6b7b;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.video{
	float:left;
	width:160px; 
	text-align:center; 
	padding:15px;
}
.video:hover{
	background-color:#bdd6ea;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.video img{
	border:0;
}
.vid-info{
	margin: 15px 0;
}
.feed-name{
	font-size:14pt;
	color:#5684a6;
}
.feed-title{
	font-size:12pt;
	color:#8fbddf;
}