---
title: Home
layout: default.hbs
---
  <!-- Header -->
  <div class="intro-header">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="intro-message">
            <div class="hero-copy">
              <h1>
                <div class="sm wow fadeInUpSmall">Lean, Clean</div>
                <div class="lg wow fadeInUpSmall" data-wow-delay="0.20s">Coding</div>
                <div class="md wow fadeInUpSmall" data-wow-delay="0.40s">Machine</div>
              </h1>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- /.container -->

  </div>
  <!-- /.intro-header -->

  <div id="about" class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-md-4 wow fadeInDownSmall">
          <h2>Who Am I</h2>
          <p>Hi, I'm Seth and I'm a developer with a creative eye. Whether it's clean code or design, I like order in the universe. I work closely with designers, quality assurance analysts, producers and information architects to make sure that happens.</p>
        </div>
        <div class="col-md-4 wow fadeInDownSmall" data-wow-delay="0.4s">
          <h2>What I Do</h2>
          <p>I've been working in the web field almost all of my professional career and I have loved every second of it. Exploring and creating new user experiences for the web is what gets me going every day. </p>
        </div>
        <div class="col-md-4 wow fadeInDownSmall" data-wow-delay="0.8s">
          <h2>Why Hire Me?</h2>
          <p>WHaving worked at different companies which ranged from small 3 man shops to large digital agencies has given me the experience and adaptability to work in an array of different environments.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="work">

    {{#parseJSON '{
      "content-section-type" : "b",
      "project-heading" : "Airbnb Open LA",
      "project-copy" : "Built microsite for Airbnb Open LA Festival where coordinators could choose and plan events. <br><br>Check out a demo of the website <a href=\"http://airbnbopen.seth-whitaker.com\" target=\"_blank\">here</a>.",
      "project-image" : "display_airbnb.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "a",
      "project-heading" : "Yonji Kim Portfolio",
      "project-copy" : "Developed a fully responsive personal portfolio website for designer, Yonji Kim. <br><br> Visit the website <a href=\"http://yonjikim.com\" target=\"_blank\">here</a>.",
      "project-image" : "display_yonjikim.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "b",
      "project-heading" : "Samsung",
      "project-copy" : "At MCD we developed a ground up rebuild of the entire Samsung.com experience from shopping to product showcase. I led a small team of developers for 8 months creating fully responsive custom front end templates and a style guide framework for Samsung.",
      "project-image" : "display_samsung.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "a",
      "project-heading" : "Bethesda.net",
      "project-copy" : "Worked with & lead a small team at Rokkan to create a new platform for Bethesda Gaming called <a href=\"http://bethesda.net\"  target=\"_blank\">Bethesda.net</a>.",
      "project-image" : "display_bethesda.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "b",
      "project-heading" : "Student Loans",
      "project-copy" : "At MCD we created a new fully responsive informational website for Discover\'s Student Loan Division. <a href=\"http://studentloan.com\" target=\"_blank\">Studentloan.com</a> is a brand new responsive experience for education about all things student loans. The website was built on wordpress for ease of use by our clients.",
      "project-image" : "display_studentloans.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "a",
      "project-heading" : "Kim Group Lab",
      "project-copy" : "The Kim Group members wanted to have an easier website to share news, publications and research. I Collaborated with a designer to redesign and re-develop the Kim Group Lab website with a wordpress backend to achieve this goal.<br><br>Visit the website <a href=\"http://kim.physics.harvard.edu\" target=\"_blank\">here.</a>",
      "project-image" : "display_kimgroup.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "b",
      "project-heading" : "Osage Advisors",
      "project-copy" : "Designing and developing a brand new website for boutique advisory firm Osage Advisors. Focus was to create a clean and consistent design for the modern web. The website is fully responsive with customized views for tablets and phone devices.",
      "project-image" : "display_osage.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "a",
      "project-heading" : "Rainmaker Designs",
      "project-copy" : "Rebuilding a new experience for browsing the Rainmaker Designs website. Tyler Jason Designed and I built the framework for a unique website which slides sideways to unveil the content your looking for.",
      "project-image" : "display_rainmaker.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "b",
      "project-heading" : "Fusion Salon",
      "project-copy" : "Redesign of the Rochester based Fusion Salon developed with Tyler Jason and Nick Law. The website is inspired by the Windows OS look and is built on top of wordpress to allow the client to easily update any part of the website in a snap. My role on the project was developing the site functionality.",
      "project-image" : "display_fusion.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "a",
      "project-heading" : "Mark Haven Photography",
      "project-copy" : "Mark Haven is a popular 80′s Photographer from New York City and Rochester. Tyler Jason and I built him a new portfolio website to showcase his <a href=\"http://markhavenphotography.com\" target=\"_blank\">work</a>.",
      "project-image" : "display_markhaven.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "b",
      "project-heading" : "Jon Johns Bakery",
      "project-copy" : "A delicious new design centered around vibrant imagery of <a href=\"http://jonjohnsbakery.com\" target=\"_blank\">Jon Johns Bakery</a> treats. Jon & John wanted a new space to keep customers up to date about the local bakery and events. Website was designed and developed with Tyler Jason.",
      "project-image" : "display_jonjohns.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

    {{#parseJSON '{
      "content-section-type" : "a",
      "project-heading" : "Cloudlab",
      "project-copy" : "This was our process blog for New Media Team Project. I was the lead web developer for the blog. Built with wordpress as a back end and a custom theme was developed and used.",
      "project-image" : "display_cloudlab.jpg"
    }'}}
      {{>project}}
    {{/parseJSON}}

  </div>
  <!-- /.work -->