---
title: Resume
isresume: true
layout: default.hbs
---

  <div class="content-section-b">
    <div class="container">
      <h1>Resume</h1>
    </div>
  </div>
  <div class="content-section-a">
    <div class="container">

      <h3>Technical Skills</h3>

      <ul>
        <li>Programming Skills: HTML5, CSS3, SASS, Responsive Web Design, JavaScript, PHP, XML, MySQL </li>
        <li>Frameworks: Compass, Bootstrap, Foundation, jQuery, Backbone, Underscore, Codeigniter, CakePHP</li>
        <li>Build Tools: Grunt, Gulp, Yeoman, Bower</li>
        <li>Proficient with WordPress CMS development.</li>
        <li>Software Proficiency: Sublime Text, Macaw, Tower, Source Tree, Adobe Creative Suite, Slack, Filezilla</li>
        <li>Knowledge of Git &#038; SVN Version Control Systems.</li>
        <li>Familiarity with UNIX system and command line interface.</li>
      </ul>

    </div>
  </div>
  <div class="content-section-b">
    <div class="container">

      <h3>Education</h3>

      <p>Rochester Institute of Technology | Rochester, NY | B.S. 2011</p>
      <h4>New Media Interactive Development</h4>
      <ul>
        <li>Dean’s List Recipient six times with a GPA of 3.5 or higher</li>
        <li>Web Design, Client and Server Development and Rich Media Internet Application courses</li>
        <li>Outstanding field of study achievement with a GPA of 3.6</li>
        <li>Graduating with Honors with a GPA of 3.4</li>
      </ul>

    </div>
  </div>
  <div class="content-section-a">
    <div class="container">

      <h3>Relevant Work History</h3>

      <h4>Freelance Developer</h4>
      <p>January 2015 &#8211; March 2015 | <a title="ROKKAN" href="http://www.rokkan.com" target="_blank">Rokkan</a> | New York, NY</p>

      <ul>
        <li>Developing unique front end user experiences in HTML5, CSS3 & JS for <a href="http://bethesda.net" target="_blank">Bethesda.net</a>.</li>
        <li>Using foundation framework to create a custom template system.</li>
        <li>Creating Custom Grunt & Gulp build tasks for efficient & consistent client deliverables.</li>
        <li>Standardizing tech process & developing global project style guide templates.</li>
      </ul>

      <h4>Developer</h4>
      <p>March 2013 &#8211; August 2014 | <a title="MCD Partners" href="http://www.mcdpartners.com" target="_blank">Magnani Caruso Dutton</a> | New York, NY</p>

      <ul>
        <li>Provide responsive front end templates to global brand websites in HTML5, and CSS3.</li>
        <li>Work collaboratively to maintain, develop and test client and in-house interactive solutions.</li>
        <li>Creating custom Grunt builds for efficient & consistent client deliverables for Samsung.</li>
        <li>Develop unique front end user experiences in Javascript.</li>
        <li>Develop custom Wordpress CMS themes tailored to client needs.</li>
        <li>Create accessible websites to meet the Web ARIA and Section 508 guidelines.</li>
      </ul>

      <h4>Associate Developer</h4>
      <p>June 2011 &#8211; March 2013 | <a title="MCD Partners" href="http://www.mcdpartners.com" target="_blank">Magnani Caruso Dutton</a> | New York, NY</p>

      <ul>
        <li>Provide responsive front end templates to global brand websites in HTML5, and CSS3.</li>
        <li>Work collaboratively to maintain, develop and test client and in-house interactive solutions.</li>
        <li>Creating custom Grunt builds for efficient & consistent client deliverables for Samsung.</li>
        <li>Develop unique front end user experiences in Javascript.</li>
        <li>Develop custom Wordpress CMS themes tailored to client needs.</li>
        <li>Create accessible websites to meet the Web ARIA and Section 508 guidelines.</li>
      </ul>

      <h4>Freelance Web Developer</h4>
      <p>February 2011 &#8211; January 2013 | <a title="Tyler Jason Photography" href="http://tylerjason.com" target="_blank">Any Other Place</a> | New York</p>
      <ul>
        <li>HTML5, CSS3, Javascript and PHP Development for web sites.</li>
        <li>Custom WordPress theme & CMS integration with client sites for ease of use.</li>
        <li>Focused on delivering personalized experiences for small business clients (Fusion Salon, JonJohns Bakery, Mark Haven Photography, Rainmaker Designs).</li>
      </ul>

      <h4>Web Developer Intern</h4>
      <p>May 2010 – May 2011 | <a title="Intellisites Web Design" href="http://www.intellisites.com" target="_blank"> Intellisites Web Design </a> | Albany, NY</p>
      <ul>
        <li>HTML, CSS, Javascript, PHP Development for web sites.</li>
        <li>WordPress Theme &amp; Plugin Development.</li>
      </ul>

      <h4>Web Developer Intern</h4>
      <p>June 2009 – August 2009 | <a title="Grip Media Inc." href="http://www.gripmedia.com">Grip Media Inc.</a> | Penfield, NY</p>
      <ul>
        <li>Write HTML/CSS code for web sweepstakes forms for clients from Photoshop layouts.</li>
        <li>Create simple flash instant win games for Grip Media Portfolio.</li>
        <li>Basic PHP/JavaScript editing on sites.</li>
      </ul>

      <h4>New Media Lab Assistant</h4>
      <p>September 2009 – March 2011 | Rochester Institute of Technology | Rochester, NY</p>
      <ul>
        <li>Provide help and tutoring to fellow New Media students on HTML, CSS, Javascript and PHP projects.</li>
      <li>Provide computer lab security, proper working order and cleanliness.</li>
      </ul>

    </div>
  </div>
  <div class="content-section-b">
    <div class="container">

      <h3>Leadership Experience</h3>
      <ul>
        <li>Lead Development team on <a href="http://bethesda.net" target="_blank">bethesda.net</a> in 2015</li>
        <li>Lead Development on <a href="http://samsung.com/us/" target="_blank">samsung.com</a> 2014 responsive store redesign project</li>
        <li>Lead Development on <a href="http://studentloan.com" target="_blank">studentloan.com</a> 2014 responsive redesign project</li>
        <li>Lead Development Team for 10 weeks for Senior New Media Team Project Flash Interface Development</li>
        <li>Co-lead a group of students to design and develop a UNIX tutorial web site for 10 weeks in a Web Design course.</li>
        <li>Volunteered at town Track Club weekly to lead and teach young athletes about Track and Field.</li>
      </ul>

    </div>
  </div>
    <!-- /.container -->