---
title: Resume
isresume: true
layout: default.hbs
---

  <div class="content-section-b">
    <div class="container">
      <h1>Resume</h1>


      <h3>Relevant Work History</h3>

      <h4>Freelance Developer <small><a title="Voltage Ad & Design" href="http://www.voltagead.com" target="_blank">Voltage Ad & Design</a></small></h4>
      <p>March 2017 &#8211; July 2017 | Louisville, CO</p>

      <ul>
        <li>Worked with a team of developers and designers to rebuild a website for <a href="http://us.diono.com">Diono Car Seats</a>.</li>
        <li>Custom modular Wordpress website architecture for rapid feature development within a large team.</li>
      </ul>

      <h4>Freelance Developer <small><a title="Droga5" href="http://www.droga5.com" target="_blank">Droga5</a></small></h4>
      <p>May 2016 &#8211; June 2016 | New York</p>

      <ul>
        <li>Build an Intranet Website for Droga5 on Wordpress utilizing custom themes & plugins.</li>
        <li>Gained experience working with Agile methodologies. Worked on a scrum team of 5+ developers, participated in daily stand ups and sprint planning.</li>
      </ul>

      <h4>Freelance Developer <small><a title="ROKKAN" href="http://www.rokkan.com" target="_blank">Rokkan</a></small></h4>
      <p>January 2015 &#8211; March 2015 & December 2015 &#8211; March 2016 | New York</p>

      <ul>
        <li>Developed unique front end user experiences in HTML5, CSS3/SASS & JS for <a href="http://bethesda.net" target="_blank">Bethesda.net</a> & Wyndham Vacations</li>
        <li>Utilized Foundation CSS framework in conjunction with Grunt & Gulp to create a custom templates.</li>
        <li>Standardized tech process & developed global project style guides.</li>
        <li>Worked collaboratively with production and creative teams to ensure technical feasibility of proposed solutions.</li>
      </ul>

      <h4>Developer <small><a title="MCD Partners" href="http://www.mcdpartners.com" target="_blank">Magnani Caruso Dutton</a> </small></h4>
      <p>March 2013 &#8211; August 2014 | New York</p>

      <ul>
        <li>Led a small team of front end developers to rebuild <a href="http://samsung.com" target="_blank">samsung.com</a>, adhering to Web ARIA and Section 508 accessibility guidelines.</li>
        <li>Worked collaboratively to maintain, develop and test an in-house web app (<a href="http://mixsee.com" target="_blank">mixsee.com</a>)</li>
        <li>Worked with and mentored junior developers via code reviews and peer programming.</li>
      </ul>

      <h4>Associate Developer <small><a title="MCD Partners" href="http://www.mcdpartners.com" target="_blank">Magnani Caruso Dutton</a> </small></h4>
      <p>June 2011 &#8211; March 2013 | New York</p>

      <ul>
        <li>Efficiently managed time between multiple simultaneous projects for <a href="http://discover.com">Discover.com</a>.</li>
        <li>Provide responsive front end templates to global brand websites in HTML5, and CSS3.</li>
        <li>Develop custom Wordpress CMS themes tailored to client needs.</li>
      </ul>

      <h4>Freelance Web Developer <small>Any Other Place</small></h4>
      <p>February 2011 &#8211; January 2013 | New York</p>
      <ul>
        <li>HTML5, CSS3, Javascript and PHP Development for web sites.</li>
        <li>Custom WordPress theme & CMS integration with client sites for ease of use.</li>
        <li>Focused on delivering personalized experiences for small business clients (Fusion Salon, JonJohns Bakery, Mark Haven Photography, Rainmaker Designs).</li>
      </ul>

      <h4>Web Developer Intern <small><a title="Intellisites Web Design" href="http://www.intellisites.com" target="_blank"> Intellisites Web Design </a> </small></h4>
      <p>May 2010 – May 2011 | Albany, NY</p>
      <ul>
        <li>HTML, CSS, Javascript, PHP Development for web sites.</li>
        <li>WordPress Theme &amp; Plugin Development.</li>
      </ul>

      <h4>Web Developer Intern <small><a title="Grip Media Inc." href="http://www.gripmedia.com" target="_blank">Grip Media Inc.</a></small></h4>
      <p>June 2009 – August 2009 | Penfield, NY</p>
      <ul>
        <li>Write HTML/CSS code for web sweepstakes forms for clients from Photoshop layouts.</li>
        <li>Create simple flash instant win games for Grip Media Portfolio.</li>
        <li>Basic PHP/JavaScript editing on sites.</li>
      </ul>

      <h4>New Media Lab Assistant <small><a title="Rochester Institute of Technology" href="http://rit.edu" target="_blank">Rochester Institute of Technology</a></small></h4>
      <p>September 2009 – March 2011 | Rochester, NY</p>
      <ul>
        <li>Provide help and tutoring to fellow New Media students on HTML, CSS, Javascript and PHP projects.</li>
      <li>Provide computer lab security, proper working order and cleanliness.</li>
      </ul>

    </div>
  </div>

  <div class="content-section-a">
    <div class="container">

      <h3>Technical Skills</h3>

      <ul>
        <li><strong>Programming Skills:</strong> HTML5, CSS3, SASS, Responsive Web Design, JavaScript, PHP, XML, MySQL </li>
        <li><strong>Frameworks</strong>: Compass, Bootstrap, Foundation, jQuery, Backbone, Underscore, Codeigniter, CakePHP</li>
        <li><strong>Build Tools</strong>: Grunt, Gulp, Yeoman, Bower</li>
        <li><strong>CMS</strong>: WordPress Custom plugin and theming</li>
        <li><strong>Software Proficiency</strong>: Sublime Text, Macaw, Tower, Source Tree, Adobe Creative Suite, Slack</li>
        <li><strong>Version Control</strong>: Advanced Git</li>
        <li>Strong eye for quality User Experience and attention to detail.</li>
        <li>Takes pride in delivering quality code.</li>

      </ul>

    </div>
  </div>
  <div class="content-section-b">
    <div class="container">

      <h3>Education</h3>

      <p>Rochester Institute of Technology | Rochester, NY | B.S. 2011</p>
      <h4>New Media Interactive Development</h4>
      <ul>
        <li>Web Design, Client and Server Development and Rich Media Internet Application courses</li>
        <li>Graduating with Honors with a GPA of 3.4</li>
      </ul>

    </div>
  </div>
    <!-- /.container -->