#image-rotator {
     margin: 0 auto;
     overflow: hidden;
     width: 990px;
}
#project {
     position: relative;
	 width:640px;
}
#project ul{
    padding:0;
	margin:0;
}
#project img {
     display: block;
}
#project:after {
     box-shadow: 0px 0px 12px #444444 inset;
	 -moz-box-shadow: 0px 0px 12px #444444 inset;
	 -webkit-box-shadow: 0px 0px 12px #444444 inset;
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 500;
}
#proj-info {
    background: url("../img/footer-bg.png") repeat scroll 0 0 transparent;
    float: left;
    height: 405px;
    position: relative;
    width: 240px;
	border:2px solid #ccc;
	border-left:0;
}
#proj-title {
     padding: 25px 15px;
}
#proj-title h2 {
     color: #7e7e7e;
     font-family: Knockout28;
     font-size: 37px;
     font-weight: lighter;
}
#proj-description {
     padding: 15px;
}
#proj-description p {
     color: #7e7e7e;
     font-family: Verdana, Arial, Helvetica, san-serif;
     font-size: 14px;
}

#proj-description a{
     color:#AAAAAA;
}
#proj-description a:hover{
     text-decoration:underline;
	 color:#BBBBBB;
}
#proj-tags {
     bottom: 0;
     padding: 18px 15px 10px;
     position: absolute;
}
#proj-tags span {
     font-family: Knockout29;
     font-size: 16px;
     margin: 0 15px 0 0;
}
#proj-tags span a {
     color: #AAAAAA;
}
#proj-tags span a:hover {
     color: #bbbbbb;
	 text-decoration:none;
}
#personal-info {
     margin: 35px 0;
     overflow: hidden;
}
.home-col {
     margin: 0 0 0 55px;
     width: 250px;
}
.home-col h2 {
    font-size: 38px;
    margin-bottom: 10px;
}

/******************* Anything Slider ********************/
#image-rotator span.back,
#image-rotator span.forward{
	text-indent:-9999em;
	float:left;
	display: block;
    height: 57px;
    width: 30px;
    z-index: 1000;
	position:relative;
	top:175px;
	cursor:pointer;
}
#image-rotator span.back{
	background: url("../img/left-arrow.png") no-repeat scroll 0 0 transparent;
	margin-right:10px;
}
#image-rotator span.back:hover{
	background-position:0 1px;
}
#image-rotator span.back:active{
	background-position:0 2px;
}
#image-rotator span.forward{
	background: url("../img/right-arrow.png") no-repeat scroll 0 0 transparent;
	margin-left:10px;
}
#image-rotator span.forward:hover{
	background-position:0 1px;
}
#image-rotator span.forward:active{
	background-position:0 2px;
}
#prevBtn, #nextBtn {
     display: block;
     height: 55px;
     width: 30px;
     z-index: 1000;
	 margin: 187px 15px 0 0;
}
#nextBtn {
     left: 917px;
	 margin: 187px 0 0 15px;
}
#prevBtn a, #nextBtn a {
     background: url("../img/left-arrow.png") no-repeat scroll 0 0 transparent;
     display: block;
     height: 55px;
     position: relative;
     width: 30px;
	 text-indent:-9999em;
}
#nextBtn a {
     background: url("../img/right-arrow.png") no-repeat scroll 0 0 transparent;
}