@import url("webfont/stylesheet.css");
@import url("header.css");
@import url("nav.css");
@import url("footer.css");
@import url("home.css");
@import url("page.css");
@import url("portfolio.css");
@import url("portfolio-single.css");

body, p, h1, h2, h3, h4, h5, h6 { color: #7E7E7E; font-family: Arial,Helvetica,san-serif; font-size: 12px;  margin: 0;  padding: 0; }
h1 { color: #555555; font-family: Knockout28,Helvetica,Arial,san-serif; font-size: 37pt; text-transform: uppercase; font-weight: lighter; }
h2 { color: #E77A5B; font-family: Kingcool,Helvetica,Arial,san-serif; font-size: 24pt; text-transform: uppercase; margin: 5px 0;}
h3 { color: #6f6f6f; font-family: Knockout28,Helvetica,Arial,san-serif; font-size: 22pt; text-transform: uppercase; font-weight: lighter; margin: 5px 0;}
h4 { color: #E77A5B; font-family: MisoBold,Helvetica,Arial,san-serif; font-size: 16pt; margin: 5px 0;}
h5 { color: #BBBBBB; font-family: MisoBold,Helvetica,Arial,san-serif;  font-size: 16pt; margin: 5px 0;}
h6 { color: #E77A5B; font-family: MisoBold,Helvetica,Arial,san-serif; font-size: 16pt; margin: 5px 0;}
p { font-family: Verdana, Arial, Helvetica, san-serif;font-size: 14px; line-height: 1.5em; margin: 5px 0;}
a {color:#E77A5B;text-decoration:none;}
a:hover {text-decoration:underline;}
ul {}
li { font-family: Verdana, Arial, Helvetica, san-serif; font-size: 12px;line-height: 1.5em;}
hr { color: #FFFFFF;}
#container {
     margin: 0 auto;
     width: 960px;
}
#content {
     margin: 0 auto;
     overflow: hidden;
     width: 960px;
}
#page-inner, #portfolio-inner, #portfolio-single-inner {
	width:920px;
	margin:0 auto 70px;
	overflow:hidden;
}
.floatLeft {
     float: left;
}
.floatRight {
     float: right;
}
.shadow {
     box-shadow: 0px 0px 25px #000000;
}